services:
  postgres:
    restart: always
    image: postgres:latest
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      TZ: UTC
      POSTGRES_DB: schedule
      POSTGRES_USER: schedule
      POSTGRES_PASSWORD: schedule

volumes:
  pgdata:
