services:
  scheduler:
    image: ghcr.io/desering/volunteer-scheduler:latest
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - packages/shared/.env
    environment:
      TZ: UTC

  postgres:
    image: postgres:latest
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      TZ: UTC
      POSTGRES_DB: schedule
      POSTGRES_USER: schedule
      POSTGRES_PASSWORD: schedule

volumes:
  pgdata:
