services:
  postgres:
    restart: always
    image: postgres:16-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      TZ: UTC
      POSTGRES_DB: schedule
      POSTGRES_USER: schedule
      POSTGRES_PASSWORD: schedule

  maildev:
    image: maildev/maildev:latest
    container_name: maildev
    ports:
      - "1080:1080"  # Web UI
      - "1025:1025"  # SMTP
    restart: always

volumes:
  pgdata:
