name: build

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/*
  push:
    branches:
      - main
    paths-ignore:
      - docs/*

env:
  DOCKER_REPO: ghcr.io/desering
  TRIVY_DISABLE_VEX_NOTICE: true

permissions:
  contents: read
  pull-requests: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  docker:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6

      - if: github.event_name == 'pull_request'
        run: echo "IMAGE_TAGS=${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ github.sha }}" >> "$GITHUB_ENV"

      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: echo "IMAGE_TAGS=${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ github.sha }},${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:latest" >> "$GITHUB_ENV"

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          push: true
          tags: ${{ env.IMAGE_TAGS }}

  trivy:
    needs: [ docker ]
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6

      - name: "Trivy: generate report"
        uses: aquasecurity/trivy-action@0.33.1
        with:
          trivy-config: trivy.yaml
          image-ref: '${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ github.sha }}'
          version: 'v0.68.2'

      - name: "Trivy: render results as table"
        run: trivy convert --scanners vuln,misconfig,secret,license --format table --table-mode detailed --output trivy-detail-table.txt trivy-result.json

      - name: "Trivy: post results to PR"
        uses: actions/github-script@v8
        if: github.event_name == 'pull_request'
        with:
          script: |
            const script = require('./.github/scripts/post-trivy-results.cjs');
            await script({github, context});

      - name: "Trivy: fail if vulnerabilities are found"
        run: trivy convert --exit-code 1 trivy-result.json

  deploy-to-coolify:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [ docker ]
    runs-on: [ ubuntu-24.04 ]
    environment: production
    steps:
      - run: |
          curl --request GET --header 'Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}' '${{ secrets.COOLIFY_DEPLOY_WEBHOOK }}'
