name: build

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/*
  push:
    branches:
      - main
    paths-ignore:
      - docs/*

env:
  DOCKER_REPO: ghcr.io/desering

permissions:
  contents: read
  pull-requests: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  docker:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v5

      - if: github.event_name == 'pull_request'
        run: echo "IMAGE_TAGS=${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ github.sha }}" >> "$GITHUB_ENV"

      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: echo "IMAGE_TAGS=${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ github.sha }},${{ env.DOCKER_REPO }}/${{ github.event.repository.name }}:latest" >> "$GITHUB_ENV"

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          tags: ${{ env.IMAGE_TAGS }}

  deploy-to-coolify:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [ docker ]
    runs-on: [ ubuntu-24.04 ]
    environment: production
    steps:
      - run: |
          curl --request GET --header 'Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}' '${{ secrets.COOLIFY_DEPLOY_WEBHOOK }}'
