name: check

on:
  push:

jobs:
  biome:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bunx biome format src

  generate-types:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun generate:types
      # exits with 1 if there are changes, 0 if there are no differences.
      - run: git diff --exit-code src/payload-types.ts

# "payload generate:db-schema" requires a secret key to secure Payload (PAYLOAD_SECRET env var)
#  generate-schema:
#    runs-on: [ ubuntu-24.04 ]
#    steps:
#      - uses: actions/checkout@v4
#      - uses: oven-sh/setup-bun@v2
#      - run: bun install
#      - run: bun generate:db-schema
#      # exits with 1 if there are changes, 0 if there are no differences.
#      - run: git diff --exit-code src/payload-generated-schema.ts
