name: check

on:
  push:

permissions:
  contents: read

jobs:
  biome:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install
      - run: bun run --bun biome ci --error-on-warnings

  types:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install
      - run: bun run --bun generate:types
      # exits with 1 if there are changes, 0 if there are no differences.
      - run: git diff --exit-code src/payload-types.ts || (echo 'WARNING - run `bun run --bun generate:types` to update payload-types.ts' && exit 1)

  schema:
    runs-on: [ ubuntu-24.04 ]
    env:
      PAYLOAD_SECRET: dummy-for-generate-db-schema
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install
      - run: bun run --bun generate:db-schema
      # exits with 1 if there are changes, 0 if there are no differences.
      - run: git diff --exit-code src/payload-generated-schema.ts || (echo 'WARNING - run `bun run --bun generate:db-schema` to update payload-generated-schema.ts' && exit 1)

  importmap:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install
      - run: bun run --bun generate:importmap
      # exits with 1 if there are changes, 0 if there are no differences.
      - run: git diff --exit-code "src/app/(payload)/admin/importMap.js" || (echo 'WARNING - run `bun run --bun generate:importmap` to update importMap.js' && exit 1)

  migrations:
    runs-on: [ ubuntu-24.04 ]
    env:
      PAYLOAD_SECRET: dummy-for-migrate-create
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install
      - run: bun run --bun payload migrate:create
      # exits with 1 if there are changes, 0 if there are no differences.
      - run: git diff --exit-code "src/migrations" || (echo 'WARNING - run `bun run --bun payload migrate:create <name-here>` to add missing migrations' && exit 1)
      # exits with 1 if there are unnamed migrations
      - run: bun run --bun .github/scripts/migrations-without-name.ts || (echo 'WARNING - delete your migrations and run `bun payload migrate:create <name-here>` to recreate your migrations with a name' && exit 1)

  vitest:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install
      - run: bun run --bun test
