name: dependabot-pr

on:
  pull_request:
    branches:
      - main
    types:
      - opened

permissions:
  contents: write

jobs:
  dependabot-only:
    if: github.actor == 'dependabot[bot]' && github.event.pull_request.title == 'Bump the "bun-patch" group with 1 updates across multiple ecosystems'
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - run: bash .github/scripts/bun-upgrade.sh

      - name: Push updated files
        run: |
          if git diff --quiet; then
            echo "No changes to push."
            exit 0
          fi
          git config user.name "dependabot[bot]"
          git config user.email "49699333+dependabot[bot]@users.noreply.github.com"
          git add -A
          git commit -m "chore: update bun version everywhere"
          git push origin "HEAD:${{ github.event.pull_request.head.ref }}"
